
{% load staticfiles %}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <title>li's django  Blog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="This is a simple django blog!">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
    <link rel="shortcut icon" href="{% static 'img/backgrounp.jpg' %}">
    <link rel="stylesheet" href="{% static 'css/signin.css' %}">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link rel="stylesheet" href="{% static 'assets/css/ie10-viewport-bug-workaround.css' %}">
    <link rel="stylesheet" href="{% static 'assets/js/ie-emulation-modes-warning.js' %}">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="container" >
        <div class="page-header" style="width: 100%">
            <div class="row">
                <div style="float: left"><h1><a href="/">li's django blog</a></h1></div>
                <div style="float: right">
                    <ul class="nav nav-pills">
                        <li class="active"><a href="/"><span class="glyphicon glyphicon-home"></span> 首页</a></li>
                        <li class="active"><a href="{% url 'archives' %}"><span
                                class="glyphicon glyphicon-briefcase"></span> 归档</a></li>
                        <li class="active"><a href="{% url 'about_me' %}"><span class="glyphicon glyphicon-user"></span>
                            关于</a></li>

                        {% if user.is_authenticated %}
                        <li class="active"><a href="{% url 'post_new' %}"><span
                                class="glyphicon glyphicon-pencil"></span> 新建</a></li>
                        <li class="active"><a href="{% url 'post_draft_list' %}"><span
                                class="glyphicon glyphicon-th-list"></span> 草稿箱</a></li>
                        <li class="active"><a href="{% url 'logout' %}"><span
                                class="glyphicon glyphicon-circle-arrow-down"></span> 注销</a></li>
                        {% else %}
                        <li class="active"><a href="{% url 'login' %}"><span
                                class="glyphicon glyphicon-circle-arrow-up"></span> 登录</a></li>
                        <li class="active"><a href="{% url 'register' %}"><span
                                class="glyphicon glyphicon-circle-arrow-up"></span>注册</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>

        {% if form.errors %}
            <p>Your username and password didn't match. Please try again.</p>
        {% endif %}
      <form class="form-signin" action="{% url 'login' %}" method="post" accept-charset="utf-8" enctype="multipart/form-data">
        <h2 class="form-signin-heading">用户登录</h2>
        {% csrf_token %}
        <label for="username" class="sr-only">用户名</label>
        <input type="text" id="username" name="username" class="form-control" placeholder="用户名"  value="">
        <label for="password" class="sr-only">Password</label>
        <input type="password" id="password"  name="password"class="form-control" placeholder="Password" value="">
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

      </form>

</div> <!-- /container -->

</body>
</html>
